# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider (JetBrains IDE)
.idea/

# Backup & temp files
*.bak
*.tmp
*.log
*.vsidx
*.dbmdl

# Others
*.swp
*.DS_Store
Thumbs.db
